* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #140d37;
  color: white;
}
.app {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  /* height: 100vh; */
}
.app__left {
  flex: 0.9;
}
.app__logo {
  object-fit: contain;
  height: 35px;
  /* margin-right: 10px; */
}

.app__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.app__dropdown {
  color: white;
}
.app__dropdownCountries {
  color: white;
}
.app__dropdownFlag {
  object-fit: contain;
  height: 20px;
  width: 20px;
  margin-right: 5px;
}
.app__stats {
  display: flex;
  justify-content: space-between;
}

.app__right {
  display: flex;
  flex-direction: column;
}
.app__right .MuiCardContent-root {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}
.app__graph {
  flex-grow: 1;
}
.app__graphTitle {
  margin-top: 10px;
  margin-bottom: 10px;
}
@media (max-width: 990px) {
  .app {
    flex-direction: column;
  }
  .app__right {
    margin-top: 15px;
  }
}
