* {
  margin: 0;
}

.app__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.app__dropdownFlag {
  object-fit: contain;
  height: 20px;
  width: 20px;
  margin-right: 5px;
}
.app__dropdownCountries {
  display: flex;
  align-items: center;
  justify-content: center;
}
